In [ ]:
import pandas as pd

In [92]:
from pathlib import Path
result = list(Path(".").rglob("*windows*.*"))
result

[WindowsPath('Beep on Windows.ipynb'),
 WindowsPath('lista arquivos no windows.ipynb'),
 WindowsPath('.ipynb_checkpoints/Beep on Windows-checkpoint.ipynb'),
 WindowsPath('.ipynb_checkpoints/lista arquivos no windows-checkpoint.ipynb')]

In [90]:
result = list(Path().rglob("dados/sto*.*"))
result

[WindowsPath('dados/stocks - Copia.csv'), WindowsPath('dados/stocks.csv')]

In [86]:
df0 = pd.read_csv(result[0])
df0

,Symbol,Date,Open,High,Low,Close,Adj Close,Volume
0,AAPL,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.023106,117258400
1,AAPL,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.021900,43971200
2,AAPL,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.020293,26432000
3,AAPL,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.020795,21610400
4,AAPL,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.021398,18362400
...,...,...,...,...,...,...,...,...
23100,GOOG,2018-12-10,1035.050049,1048.449951,1023.289978,1039.550049,1039.550049,1807700
23101,GOOG,2018-12-11,1056.489990,1060.599976,1039.839966,1051.750000,1051.750000,1394700
23102,GOOG,2018-12-12,1068.000000,1081.650024,1062.790039,1063.680054,1063.680054,1523800
23103,GOOG,2018-12-13,1068.069946,1079.760010,1053.930054,1061.900024,1061.900024,1329800
23104,GOOG,2018-12-14,1049.979980,1062.599976,1040.790039,1042.099976,1042.099976,1685900

In [87]:
df1 = pd.read_csv(result[1])
df1

,Symbol,Date,Open,High,Low,Close,Adj Close,Volume
0,AAPL,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.023106,117258400
1,AAPL,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.021900,43971200
2,AAPL,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.020293,26432000
3,AAPL,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.020795,21610400
4,AAPL,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.021398,18362400
...,...,...,...,...,...,...,...,...
23100,GOOG,2018-12-10,1035.050049,1048.449951,1023.289978,1039.550049,1039.550049,1807700
23101,GOOG,2018-12-11,1056.489990,1060.599976,1039.839966,1051.750000,1051.750000,1394700
23102,GOOG,2018-12-12,1068.000000,1081.650024,1062.790039,1063.680054,1063.680054,1523800
23103,GOOG,2018-12-13,1068.069946,1079.760010,1053.930054,1061.900024,1061.900024,1329800
23104,GOOG,2018-12-14,1049.979980,1062.599976,1040.790039,1042.099976,1042.099976,1685900

In [23]:
import glob
print(glob.glob("../" + "*.*"))

['..\\CÃ³pia_de_Untitled6.ipynb', '..\\README.md']

In [14]:
import os
from os import listdir
from os.path import isfile, join

cwd = os.getcwd()
onlyfiles = [os.path.join(cwd, f) for f in os.listdir(cwd) if 
os.path.isfile(os.path.join(cwd, f))]
print(onlyfiles)

['D:\\Git\\Python\\06 - Dicas\\01 - Base.ipynb', 'D:\\Git\\Python\\06 - Dicas\\Beep on Windows.ipynb', 'D:\\Git\\Python\\06 - Dicas\\Untitled.ipynb']

In [68]:
import os, glob

path = pathname
teste =[]
for infile in glob.glob( os.path.join(path, 'dados/*.*')):
    teste = infile.__str__()
print(teste)

D:\Git\Python\06 - Dicas\dados\stocks.csv

In [89]:
import pandas as pd

df = pd.read_csv(r'D:\Git\Python\06 - Dicas\dados\stocks.csv')
df

,Symbol,Date,Open,High,Low,Close,Adj Close,Volume
0,AAPL,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.023106,117258400
1,AAPL,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.021900,43971200
2,AAPL,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.020293,26432000
3,AAPL,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.020795,21610400
4,AAPL,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.021398,18362400
...,...,...,...,...,...,...,...,...
23100,GOOG,2018-12-10,1035.050049,1048.449951,1023.289978,1039.550049,1039.550049,1807700
23101,GOOG,2018-12-11,1056.489990,1060.599976,1039.839966,1051.750000,1051.750000,1394700
23102,GOOG,2018-12-12,1068.000000,1081.650024,1062.790039,1063.680054,1063.680054,1523800
23103,GOOG,2018-12-13,1068.069946,1079.760010,1053.930054,1061.900024,1061.900024,1329800
23104,GOOG,2018-12-14,1049.979980,1062.599976,1040.790039,1042.099976,1042.099976,1685900

In [33]:
import os
pathname = os.path.abspath(os.getcwd())

In [34]:
glob.glob('**/*.', recursive=False)

[]

In [54]:
glob.glob( + "*.*")

[]

In [53]:
pathname.__str__()

'D:\\Git\\Python\\06 - Dicas'

In [65]:

os.path.join(pathname,'dados/*.*')

'D:\\Git\\Python\\06 - Dicas\\dados/*.*'