In [1]:
%config IPCompleter.greedy = True

In [2]:
import dask.dataframe as dd
import pandas as pd
import sqlite3

In [3]:
df = dd.read_sql_table()
df.head()

TypeError: read_sql_table() missing 3 required positional arguments: 'table', 'uri', and 'index_col'

In [4]:
conn = sqlite3.connect("D:\RFB07-20\CNPJ-full-master\data\CNPJ_full.db")
#sql = (f"select * from empresas where cnpj = '00087112001365'")
sql =  'SELECT cnpj, cnae_ordem, cnae FROM cnaes_secundarios'

In [ ]:
#erro df_pandas = pd.read_sql_query(sql, conn)
#df_pandas

In [5]:
import sqlalchemy

In [10]:
df_dask = dd.read_sql_table('cnaes_secundarios', 'sqlite:///D:\\RFB07-20\\CNPJ-full-master\\data\\CNPJ_full.db',  index_col = 'cnpj', npartitions=10)
df_dask.head()

TypeError: Provided index column is of type "object".  If divisions is not provided the index column type must be numeric or datetime.

In [ ]:
conda install sqlalchemy

In [ ]:
import sqlalchemy.engine.url as url
url.make_url('sqlite:///D:\\RFB07-20\\CNPJ-full-master\\data\\CNPJ_full.db')

In [ ]:
vars(_)

In [4]:
from sqlalchemy import create_engine

uri = 'sqlite:///D:\\RFB07-20\\CNPJ-full-master\\data\\CNPJ_full.db'
engine = create_engine(uri, echo=False)
connection = engine.connect()

In [5]:
%%time
df = dd.read_sql_table(table='cnaes_secundarios', uri=uri, index_col='cnae_ordem', npartitions=10)

Wall time: 1min 9s

In [9]:
%%time
df.tail(20)

Wall time: 58 s

                      cnpj     cnae
cnae_ordem
89          96707088000155  7711000
89          97092662000170  4399102
90          96707088000155  7719599
91          96707088000155  7732201
92          96707088000155  7739099
93          96707088000155  7820500
94          96707088000155  7830200
95          96707088000155  8211300
96          96707088000155  8219901
97          96707088000155  8291100
89          97529168000120  3321000
90          97529168000120  4322301
91          97529168000120  4322302
92          97529168000120  4520005
93          97529168000120  2330302
94          97529168000120  4644301
95          97529168000120  4399105
96          97529168000120  4311802
97          97529168000120  4330405
98          97529168000120  4330403

In [8]:
%%time
df.describe()

Wall time: 169 ms

Dask DataFrame Structure:
                 cnpj    cnae
npartitions=1
               object  object
                  ...     ...
Dask Name: describe, 97 tasks