In [ ]:
import cx_Oracle  
import pandas as pd  
import time

In [ ]:
uid = "SYSTEM"    # usuário
pwd = "sysdba"   # senha
db = "localhost:1521"  # string de conexão do Oracle
sql = '''Select * from tab_empresas'''#  WHERE  ROWNUM <= 10000'''

In [ ]:
class Conexao(cx_Oracle.Connection):  
    def cursor(self):  
        cursor = super(Conexao, self).cursor()  
        cursor.arraysize = 5000  
        return cursor  
  
conn = Conexao(uid, pwd, db, encoding="UTF-8", nencoding="UTF-8")  
print('''ArraySize: ''', conn.cursor().arraysize)

In [ ]:
# Create empty list
lista_chunck= [] 
# Start Chunking 
i=1
# iniciar contador
start = time.time()
for chunk in pd.read_sql(sql, con=conn, chunksize=1000000):
    # Start Appending Data Chunks from SQL Result set into List
    elapsed = (time.time() - start)
    print(elapsed/60," Minutos chunck", i)
    i= i+1
    lista_chunck.append(chunk)
conn.close()
    
elapsed = (time.time() - start)
print(elapsed/60, " Minutos chunck")
lista_chunck

In [ ]:
# Create empty dataframe
df = pd.DataFrame()  
start = time.time()
# Start appending data from list to dataframe
df = pd.concat(lista_chunck, ignore_index=True)

elapsed = (time.time() - start)
print(elapsed/60, " Minutos, minutos total")

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
df.head()