In [1]:
import pandas as pd

In [2]:
covid = pd.read_csv('Covid-19_SP.csv')

In [3]:
covid['DATA']= pd.to_datetime(covid['DATA'], format = '%Y-%m-%d')

In [6]:
latest = covid[covid['DATA']=='2020-11-19'][['CIDADE','CONFIRMADO','MORTES','POPULACAO_ESTIMADA','INDICE_MORTES']]

In [7]:
latest

,CIDADE,CONFIRMADO,MORTES,POPULACAO_ESTIMADA,INDICE_MORTES
0,Adamantina,496,13,35111.0,0.0262
215,Adolfo,133,5,3554.0,0.0376
406,Aguaí,375,7,36648.0,0.0187
604,Agudos,822,17,37401.0,0.0207
823,Alambari,89,4,6129.0,0.0449
...,...,...,...,...,...
120214,Águas de São Pedro,63,2,3521.0,0.0317
120425,Álvares Florence,81,6,3647.0,0.0741
120587,Álvares Machado,293,8,24998.0,0.0273
120780,Álvaro de Carvalho,34,4,5274.0,0.1176
120963,Óleo,6,0,2471.0,0.0000