In [15]:
import pandas as pd
import numpy as np
url = "http://www.sefaz.rs.gov.br/ASP/Download/Sitagro/PPR_ATIVO.zip"

In [16]:
header_list = ['Inscrição', 'Data Abertura', 'Categoria', 'CNAE_1', 'CNAE_2', 'CNAE_3', 'Tipo', 'CPF/CNPJ']
tipos = {'Inscrição': str , 'Categoria': str, 'CNAE_1': str, 'CNAE_2': str, 'CNAE_3': str, 'Tipo': str, 'CPF/CNPJ': str}
df = pd.read_csv(url, names=header_list, dtype=tipos , sep=";")

1020723025
96013693000398

##### 5993431091 Muito bom

In [17]:
#df_pesq = pd.DataFrame([], columns=['Inscrição', 'nivel'])
#temp_1 = pd.DataFrame([], columns=['Inscrição', 'nivel'])
#flag_nivel = 1

In [85]:
max_nivel = 3

In [86]:
#cliente = '1020723025'
cliente = '96013693000398'
#cliente = '5993431091'

In [87]:
pessoas  = pd.DataFrame([], columns=['CPF/CNPJ'])
pessoas.loc[0] = np.array([cliente.zfill(14)])
pessoas['nivel'] = 0
pessoas

         CPF/CNPJ  nivel
0  96013693000398      0

In [88]:
def Pesquisa_nos(pessoas):
    for seq in range(max_nivel):
        todas_inscroicoes_encontradas = df['Inscrição'][df['CPF/CNPJ'].isin(pessoas['CPF/CNPJ'][pessoas['nivel']== seq].unique())].drop_duplicates()
        temp  = df[['CPF/CNPJ']][df['Inscrição'].isin(todas_inscroicoes_encontradas.drop_duplicates().values)]
        seq +=1
        temp['nivel'] = seq

        a = temp.set_index('nivel')
        b = pessoas.set_index('nivel')

        pessoas = (a.combine_first(b)
          .reset_index()
          .reindex(columns=pessoas.columns))
        pessoas.drop_duplicates(subset=['CPF/CNPJ'], keep='first', inplace=True)
    return(pessoas)

In [96]:
pessoas = Pesquisa_nos(pessoas)
pessoas

           CPF/CNPJ  nivel
0    96013693000398      0
1    00000726109053      1
2    00040418308004      1
3    00062092367072      1
4    00032244118053      1
5    00041296605000      1
6    00046160051091      1
7    00039762602072      1
8    00055962238087      1
9    38033355000150      1
10   03969195000170      2
11   00020242530087      2
12   00005415306072      3
80   00043938531053      3
148  00047980940059      3
182  00026961024068      3
216  00058860940087      3
250  00019137168053      3
284  00028724143049      3
318  00005715482020      3
352  00005715490049      3
386  00020438672020      3
437  00043936784000      3
556  00032702361072      3
658  00059069767015      3
794  00003631071000      3
845  00002179642067      3
879  00082785961072      3
913  00003754938088      3

In [90]:
df_pesq = df[df['CPF/CNPJ'].isin(pessoas['CPF/CNPJ'].values)]

In [91]:
import networkx as nx
import json
from networkx.readwrite import json_graph

In [92]:
G = nx.DiGraph()

In [93]:
for index, row in df_pesq.iterrows():
    G.add_node(row['Inscrição'], name=row['Inscrição'], label=row['Categoria'] , type="IE" , teste=123)
    G.add_node(row['CPF/CNPJ'], name=row['CPF/CNPJ'], label=row['Categoria'] , type=row['Tipo'])
for index, row in df_pesq.iterrows():
    G.add_edge(row['Inscrição'], row['CPF/CNPJ'], type=""  )

In [94]:
import os
import sys
import subprocess
path_output = "folder"

In [95]:
if not os.path.exists(path_output):
    os.mkdir(path_output)
with open('viz/template.html', 'r', encoding='utf-8') as template:
    str_html = template.read().replace('<!--GRAFO-->', json.dumps(json_graph.node_link_data(G)))

path_html = os.path.join(path_output, 'grafo.html')
with open(path_html, 'w', encoding='utf-8') as html:
    html.write(str_html)

#subprocess.Popen(['C:/Program Files (x86)/Google/Chrome/Application/chrome.exe', os.path.abspath(path_html)])

subprocess.Popen(['C:\Program Files (x86)\Microsoft\Edge\Application\msedge.exe', os.path.abspath(path_html)])

In [ ]:
#nx.draw(G, with_labels=True)

In [ ]:
#print(G.nodes()) 
#list(G.nodes(data=True))

In [ ]:
#print(G.edges())
#list(G.edges(data=True))

In [ ]:
del(G)